@section scripts
{
    <script type="text/javascript" src="~/Scripts/site/uiManager.js?<%=DateTime.Now.Ticks.ToString()%>"></script>
}
<div class="col-sm-1"></div>
<div class="col-sm-12">
    <div class="tool-panel panel box-shadow">
        <div class="panel-body">
            <h3 class="faded">OneDrive</h3>
            <span class="faded">@ViewBag.Dir</span>
            <div style="overflow-y: scroll; max-height:500px;">
                <table class="table-condensed table-striped full-width scro">
                    <tr>
                        <th>Name</th>
                        <th>Last Modified</th>
                        <th></th>
                    </tr>
                    <!-- We can restrict files by preference directory later with item.ParentReference.Path -->
                    @if(ViewBag.DriveList != null)
                    {
                    foreach (Microsoft.Graph.DriveItem item in ViewBag.DriveList)
                    {
                        if (item.File == null) { continue; }
                        <tr>
                            <td><span class="glyphicon glyphicon-file faded" aria-hidden="true"></span> <a target="_blank" href="@item.WebUrl">@item.Name</a></td>
                            <td class="faded">@Convert.ToDateTime(item.LastModifiedDateTime.ToString()).ToString("MM/dd/yyyy hh:mm tt")</td>
                            <td>
                                @using (Html.BeginForm("ImportExcelFromDrive", "Schedule", FormMethod.Post, new { id = "sheetSelectFromFile", enctype = "multipart/form-data" }))
                                {
                                    <input type="hidden" name="fileName" value="@item.Name"/>
                                    <input type="hidden" name="driveItemID" value="@item.Id" />
                                    <input type="hidden" name="returnURL" value="@item.WebUrl" />
                                    <label class="btn btn-info pull-right" style="border:none;">
                                        <span>Generate Exam Schedule</span>
                                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                        <input type="submit" style="display: none;">
                                    </label>
                                }
                            </td>
                        </tr>
                    }
                    }
                </table>
            </div>
            <hr />
            <label class="btn btn-default pull-right faded" style="border:none;">
                <span class="faded">Return</span>
                <span class="glyphicon glyphicon-chevron-right faded" aria-hidden="true"></span>
                <input type="button" style="display: none;" onclick="location.href='@Url.Action("Index", "Home")'">
            </label>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="col-sm-1"></div>
